<body style="display: flex;min-height:100vh;flex-direction:column">
    <div style="flex-grow:1!important">
    {{>header}}
    <form>
        <div style="display: flex" class="col-md-8 form-group">
            <input class="form-control" type="search">
            <button class="Submit">Submit</button>
        </div>
    </form>
    <p style="position:absolute;left:17px;top:200px;" id="message-1"></p>
    <p style="position:absolute;left:17px;top:220px;" id="message-2"></p>
    </div>
    {{>footer}}
</body>